extends partials/skeleton.pug

block title-n-meta
	title ACS s.r.o. | Foto-dokumentace Fordu Custom ACS
	meta(name="description" content="Kompletní fotodokumentace obytné vestavby, kterou jsem provedl na vozidle Ford Transit Custom. Rozdělené do sekci: Izolace, Sestava sedadel, Toaleta, Kuchyňský blok, Postel")

block body

	main.sub-page.galerie-page
		header.heading__wrap
			h1.heading--fonts Dokumentace Ford Custom A.C.S.
		
		section.galerie-container
			#galerie__tabs
				section.galerie.galerie-izolace
					header.galerie__header
						h2 Izolace vozu
						p.galerie__header__txt Boční pevné stěny vozu jsou vypěněny montážní pěnou (elektrik. Kabely byly vloženy do husích krků), stěna je obložena 3mm překližkou, oboustranně nalakovanou akrylátem. Stropní plech je vylepen pláty PP pěny MIRELON. Stropnice vozu zůstala originální, v toaletním prostoru byla nahrazena 3mm deskou ABS. Podlaha je izolována PP německou pěnou EXTREME. Na ní leží 8mm vodovzdorná překližka a tvrzené dekorační lino. Okraje desky jsou zalakovány, pod toaletním je kompletně lakovaná 12mm vodní překližka.
						.galerie__header__btn
							button.galerie-btn
								.galerie-btn__svg.galerie-btn__svg--toOpen

					section.galerie__section.izolace-vozu__thumbs
						- var x = 1;
						while x < 10
							a.galerie-izolace__item.gallery__thumbnail(href=`../img/galerie/images/izolace-vozu_0${x}.jpg`,data-featherlight="image")
								img(src=`../img/galerie/thumbs/izolace-vozu_0${x}.jpg`, alt=`izolace-vozu_0${x}`)
							- x++

						- var x = 10;
						while x < 31
							a.galerie-izolace__item.gallery__thumbnail(href=`../img/galerie/images/izolace-vozu_${x}.jpg`,data-featherlight="image")
								img(src=`../img/galerie/thumbs/izolace-vozu_${x}.jpg`, alt=`izolace-vozu_${x}`)
							- x++

						.galerie__section__btn
							button.galerie-btn
								.galerie-btn__svg.galerie-btn__svg--toClose

				section.galerie.galerie-sedadla
					header.galerie__header
						h2 Sestava sedadel
						p.galerie__header__txt Sedadla jsou původní a v originálním postavení od výrobce. U tohoto vozu je počet míst k sezení 1+6. Ve 3. řadě došlo k nahrazení pravého jedno-sedadla, kuchyňským blokem. Sedadla 2. a 3. řady mají sklápěcí opěradla a jsou lehce vyjmutelná z vozu. Na jejich místo je možno, do původního podlahového uložení, namontovat vysouvací postel. Během jízdy se na posteli nesmí sedět, proto se sníží počet přepravovaných osob na 1+2.
						.galerie__header__btn
							button.galerie-btn
								.galerie-btn__svg.galerie-btn__svg--toOpen

					section.galerie__section.sestava-sedadel__thumbs
						- var x = 1;
						while x < 10
							a.galerie-sedadla__item.gallery.gallery__thumbnail(href=`../img/galerie/images/sestava-sedadel_0${x}.jpg`,data-featherlight="image")
								img(src=`../img/galerie/thumbs/sestava-sedadel_0${x}.jpg`, alt=`sestava-sedadel_0${x}`)
							- x++

						a.galerie-sedadla__item.gallery.gallery__thumbnail(href="../img/galerie/images/sestava-sedadel_10.jpg",data-featherlight="image")
							img(src="../img/galerie/thumbs/sestava-sedadel_10.jpg", alt="sestava-sedadel_10")

						.galerie__section__btn
							button.galerie-btn
								.galerie-btn__svg.galerie-btn__svg--toClose

				section.galerie.galerie-toaleta
					header.galerie__header
						h2 Toaletní kout
						p.galerie__header__txt Místo umožňuje možnost nouzově udělat toaletní potřeby. Je vybaven umyvadlem, záchodem a sprchou. Sprchování je možné uvnitř vozu, tak i venku mimo vůz. Dva okruhy, teplá a studená voda. Teplá voda je zajištěna průtokovým ohřívačem na 220V.  Vůz disponuje 50l čisté vody, 72l odpadní vody a 17 fekální vody.
						.galerie__header__btn
							button.galerie-btn
								.galerie-btn__svg.galerie-btn__svg--toOpen

					section.galerie__section
						- var x = 1;
						while x < 10
							a.galerie-toaleta__item.gallery__thumbnail(href=`../img/galerie/images/toaletni-kout_0${x}.jpg`,data-featherlight="image")
								img(src=`../img/galerie/thumbs/toaletni-kout_0${x}.jpg`, alt=`toaletni-kout_0${x}`)
							- x++

						- var x = 10;
						while x < 31
							a.galerie-toaleta__item.gallery__thumbnail(href=`../img/galerie/images/toaletni-kout_${x}.jpg`,data-featherlight="image")
								img(src=`../img/galerie/thumbs/toaletni-kout_${x}.jpg`, alt=`toaletni-kout_${x}`)
							- x++

						.galerie__section__btn
							button.galerie-btn
								.galerie-btn__svg.galerie-btn__svg--toClose


				section.galerie.galerie-kuchyn
					header.galerie__header
						h2 Kuchyňská skříň
						p.galerie__header__txt Skříň je maximálně minimalizována do prostoru, kde má své místo. Je na sedadlovém posuvu a je tedy ji možno vysunovat více do prostoru bočních dveří aby byl k ní lepší přístup a zase zasunovat pro lepší nastupování a vystupování pro třetí řadu sedadel. Prostor za skříní může sloužit pro regálek surovin. Skříň disponuje dvouplotýnkovím vařičem, dřezem s teplou a studenou vodou, 40l kompresorovou ledničkou, vysouvacím stolkem s úložným prostorem a dalším úložným prostorem za lednicí. Nad kuchyňkou je polička s 12V digistorem.
						.galerie__header__btn
							button.galerie-btn
								.galerie-btn__svg.galerie-btn__svg--toOpen

					section.galerie__section
						- var x = 1;
						while x < 10
							a.galerie-kuchyn__item.gallery__thumbnail(href=`../img/galerie/images/kuchynsky-blok_0${x}.jpg`,data-featherlight="image")
								img(src=`../img/galerie/thumbs/kuchynsky-blok_0${x}.jpg`, alt=`kuchynsky-blok_0${x}`)
							- x++

						- var x = 10;
						while x < 31
							a.galerie-kuchyn__item.gallery__thumbnail(href=`../img/galerie/images/kuchynsky-blok_${x}.jpg`,data-featherlight="image")
								img(src=`../img/galerie/thumbs/kuchynsky-blok_${x}.jpg`, alt=`kuchynsky-blok_0${x}`)
							- x++

						.galerie__section__btn
							button.galerie-btn
								.galerie-btn__svg.galerie-btn__svg--toClose

				section.galerie.galerie-postel
					header.galerie__header
						h2 Postel
						p.galerie__header__txt Postel je lehce smontovatelná a zase odmontovatelná (lepší manipulace je z pomocí druhé osoby). Skládá se dvou ocelových stojek, uchycených do původních úchytů sedadel. Vysunovacího postelového roštu se sklopným opěradlem a dvěma matracemi. Celá postel se dá nahoru odklápět a tím je možno využít velkého úložného prostoru, rozděleného vyjmutelnými organizéry. Postel se nesmí jakýmkoli způsobem používat za jízdy.
						.galerie__header__btn
							button.galerie-btn
								.galerie-btn__svg.galerie-btn__svg--toOpen
									
					section.galerie__section
						- var x = 1;
						while x < 10
							a.galerie-postel__item.gallery__thumbnail(href=`../img/galerie/images/postel_0${x}.jpg`,data-featherlight="image")
								img(src=`../img/galerie/thumbs/postel_0${x}.jpg`, alt=`postel_0${x}`)
							- x++

						- var x = 10;
						while x < 25
							a.galerie-postel__item.gallery__thumbnail(href=`../img/galerie/images/postel_${x}.jpg`,data-featherlight="image")
								img(src=`../img/galerie/thumbs/postel_${x}.jpg`, alt=`postel_0${x}`)
							- x++

						.galerie__section__btn
							button.galerie-btn
								.galerie-btn__svg.galerie-btn__svg--toClose

		article.specs
			section.custom-specs.box-shadow
				h2.specs__h2 Specifikace od výrobce:
				img(src="../img/sub-pages/van.jpg", alt="Pohled oshora na rozložení sedadel ve vozu podle nastavení od výrobce")
				table
					tr
						td Objem motoru:
						td 2198 ccm
					tr
						td Výkon:
						td 92,00kW
					tr
						td Převodovka:
						td M6
					tr
						td Rozvor:
						td 3300
					tr
						td Pohon:
						td pohon předních kol
					tr
						td Délka/šířka/výška:
						td 5339/2032/1976 
					tr
						td Počet míst:
						td 2-7

				ul
					li Elektronický stabilizační systém ESP
					li Airbag řidiče a spolujezdce
					li Systém Stop-Start  vč.palubního počítače
					li Elektricky ovládaná přední okna 
					li Dálkově ovládané centrální zamykání
					li Ford Easy Fuel – bezzátkový systém doplňování paliva
					li Světla pro denní svícení
					li Zdvojený akumulátor             
					li Přídavné elektrické topení
					li Měření poklesu tlaku v pneumatikách
					li 15" ocelová kola s plnými kryty kol
					li Přední klimatizace vč. Pylového filtru
					li Autorádio AM/FM, vstup AUX, USB, Bluetooth
					li Tempomat včetně nastavitelného omezovače rychlosti
					li Kožený volant a hlavice řadící páky
					li Sada pro lepší viditelnost – vyhřívané čelní sklo, ukazatel hladiny kapaliny v ostřikovači, elektricky ovládaná a vyhřívaná zrcátka
					li Projektorové přední světlomety
					li Statická odbočovací světla
					li Přední mlhová světla
					li Výklopná okna v druhé řadě
					li Zásuvka 230V/150W
					li Tažné zařízení, 13-pólová zásuvka

			section.acs-specs.box-shadow
				h2.specs__h2 A.C.S. specifikace:
				br
				img(src="../img/sub-pages/009.jpg", alt="Varianty nabízeného vozu podle počtu sedících míst")
				br
				table
					tr
						td Rozměry vysunovací postele:
						td 1950 x 1250 mm 
					tr
						td úložný prostor pod postelí:
						td 850l
					tr
						td Posuvná kuchyňská skříň:
						td dvouplotýnkový vařič + dřez<br>Lednička 50l<br>skříňka na nádobí 35l<br>výsuvný pomocný stůl
					tr
						td Toaletní sprchový kout s wc
						td Kazetové wc<br>teplá a studená voda(ohřívač vody na 220V<br>na přání)<br>Sprcha vnitřní a venkovní<br>Skříňky úlož.prostor 60l+80l+60l
					tr
						td plyn:
						td 2 X 2,8 kg plynové láhve (pouze vaření)
					tr
						td nádrž na čistou vodu:
						td 50l
					tr
						td nádrž na odpadní vodu:
						td 75l
				figure
					img(src="../img/sub-pages/007.jpg", alt="Vybavení, které není součástí prodaváného vozu")
					figcaption Toto vybavení není součástí prodávaného vozu
			
			section.cenik.box-shadow
				img.rozdeleni-sekci(src="../img/sub-pages/010.jpg", alt="ilustrace pro rozdělení sekcí podle ceníku, část A až C")
				h2 Ceník
				table
					tr
						td A. Vysunovací postel výklopná
						td 24 400,00 Kč
					tr
						td B. Kuchyňský posuvný blok
						td 47 200,00 Kč
					tr
						td C. Vestavěný toaletní kout
						td 51 700,00 Kč
					tr
						td D. Rolovací markýza 3m
						td 12 000,00 Kč
					tr
						td E. Samostatný  stan s napojením na vůz
						td 15 500,00 Kč
					tr
						td F. Izolace a vnitřní dekorace
						td 40 300,00 Kč
					tr
						td Cena vozu
						td 819 500,00 Kč
				br
				img(src="../img/sub-pages/008.jpg", alt="ilustrace pro rozdělení sekcí podle ceníku, část D a E") 
				
		nav.secondary-nav
			p Kam dále?<br>Podívejte se na mé ostatní práce:
			.sec-nav-list
				include partials/sub-nav-custom.pug

				include partials/sub-nav-2000.pug

				include partials/sub-nav-1996.pug

block local-scripts
	script(src="../js/featherlight.gallery.js")
	script.
		$('.galerie-izolace__item').featherlightGallery();
		$('.galerie-sedadla__item').featherlightGallery();
		$('.galerie-toaleta__item').featherlightGallery();
		$('.galerie-kuchyn__item').featherlightGallery();
		$('.galerie-postel__item').featherlightGallery();

